---
import { m } from '@/i18n/messages'

import Layout from '@/layouts/Layout.astro'

const metadata = {
  title: m.not_found(),
  description: m.not_found_description(),
}
---

<Layout metadata={metadata}>
  <div id='main-content'>
    <div>
      <h1>{m.not_found()}</h1>
      <p>{m.not_found_description()}</p>
    </div>
  </div>
</Layout>
