---
import { m } from '@/i18n/messages'

import Layout from '@/layouts/Layout.astro'

const metadata = {
  title: m.accessibility(),
  description: 'Accessibility information for our usersApi',
}
---

<Layout metadata={metadata}>
  <div
    class='flex flex-1 flex-col items-center justify-center'
    id='main-content'>
    <h1 class='text-2xl'>
      {m.accessibility()}
    </h1>
  </div>
</Layout>
