---
import { getCollection } from 'astro:content'

import { getLocale, locales, localizeHref } from '@/i18n/runtime'
import Layout from '@/layouts/Layout.astro'
import { generateStaticPageAlternates } from '@/utils/multilang'

const currentLocale = getLocale()
const siteUrl = Astro.site?.href || import.meta.env.SITE

const metadata = {
  description: 'A simple website built with Astro.',
  alternates: generateStaticPageAlternates(
    locales,
    (locale) => localizeHref('/', { locale }),
    siteUrl,
  ),
}

console.log('Current locale:', currentLocale)

const allPosts = await getCollection('posts')
const localizedPosts = allPosts.filter(
  (post) => post.data.lang === currentLocale,
)
---

<Layout metadata={metadata}>
  <div
    class='flex flex-1 flex-col items-center justify-center'
    id='main-content'>
    <h1 class='text-2xl'>Simple website</h1>
    <div>
      {
        localizedPosts.map((post) => (
          <div>
            <h2>{post.data.title}</h2>
            <p>{post.data.description}</p>
            <a href={localizeHref(`/posts/${post.data.slug}`)}>Read more</a>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
