/* @import 'tailwindcss'; */

:host,
:root {
  /* eslint-disable-next-line css/no-important */
  --pico-font-family: var(--font-inter) !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /* eslint-disable-next-line css/use-baseline */
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
