---
import { m } from '@/i18n/messages'
import { localizeHref } from '@/i18n/runtime'

const footerMenu = [
  {
    title: m.legal_information(),
    url: localizeHref('/policies/legal-information'),
  },
  {
    title: m.privacy_policy(),
    url: localizeHref('/policies/privacy-policy'),
  },
  {
    title: m.terms_and_conditions(),
    url: localizeHref('/policies/terms-conditions'),
  },
  {
    title: m.accessibility(),
    url: localizeHref('/accessibility'),
  },
]
---

<footer class='mt-auto'>
  <div class='w-full p-4 md:flex md:items-center md:justify-between'>
    <span class='text-sm text-gray-500 sm:text-center dark:text-gray-400'
      >© {new Date().getFullYear()}
      <a
        href={localizeHref('/')}
        class='hover:underline'
        >Simple website</a
      >. All Rights Reserved.
    </span>
    <ul
      class='mt-3 flex flex-wrap items-center gap-3 text-sm font-medium text-gray-500 sm:mt-0 dark:text-gray-400'>
      {
        footerMenu.map((item) => (
          <li>
            <a
              href={item.url}
              class='py-2 pe-4 hover:underline md:pe-6'>
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
