---
import { m } from '@/i18n/messages'
import { getLocale, localizeHref } from '@/i18n/runtime'

import type { HrefItem } from '@/types'

const currentLocale = getLocale()

export interface Props {
  items?: HrefItem[]
}

const { items = [] } = Astro.props
---

<nav aria-label={m.legal_navigation()}>
  <ul>
    {
      items.map((item) => (
        <li>
          <a
            href={localizeHref(item.href, { locale: currentLocale })}
            {...(Astro.url.pathname === item.href
              ? { 'aria-current': 'page' }
              : {})}>
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
