---
import { PROJECT_NAME } from '@/config'

import { m } from '@/i18n/messages'
import { localizeHref } from '@/i18n/runtime'

import FooterNavigation from './FooterNavigation.astro'

const navigationItems = [
  {
    label: m.privacy_policy(),
    href: '/privacy-policy',
  },
  {
    label: m.terms_and_conditions(),
    href: '/terms-of-service',
  },
  {
    label: m.cookie_policy(),
    href: '/cookie-policy',
  },
  {
    label: m.accessibility(),
    href: '/accessibility',
  },
]
---

<footer>
  <FooterNavigation items={navigationItems} />
  <div>
    © {new Date().getFullYear()}
    <a href={localizeHref('/')}> {PROJECT_NAME} </a>
  </div>
</footer>
