---
import { getLocale, localizeHref } from '@/i18n/runtime'
import type { LocaleHrefMap } from '@/utils/multilang'

export interface Props {
  availableLanguages?: LocaleHrefMap
}

const { availableLanguages = [] } = Astro.props
const locale = getLocale()

// Filtrer pour ne pas afficher la langue courante
const languagesToShow = availableLanguages.filter(
  (lang) => lang.locale !== locale,
)
---

<header>
  <nav
    class='flex flex-row border-gray-200 px-4 py-2.5 lg:px-6 dark:bg-gray-800'>
    <div class='mx-auto flex flex-wrap items-center justify-between'>
      <a
        href={localizeHref('/')}
        class='flex items-center'>
        <img
          src='/icons/favicon.svg'
          class='mr-3 h-6 sm:h-9'
          alt='Logo'
        />
        <span
          class='self-center text-xl font-semibold whitespace-nowrap dark:text-white'
          >Simple website</span
        >
      </a>
    </div>
    <div>
      {
        languagesToShow.map((language) => (
          <a
            href={language.href}
            class='me-4'>
            {language.locale.toUpperCase()}
          </a>
        ))
      }
    </div>
  </nav>
</header>
