---
import { m } from '@/i18n/messages'

import PostCard, { type Props as PostCardProps } from './PostCard.astro'

export interface Props {
  posts: PostCardProps[]
}

const { posts } = Astro.props
---

<section>
  <h2>{m.latest_posts()}</h2>
  {posts.map((post) => <PostCard {...post} />)}
</section>
