---
import { m } from '@/i18n/messages'

import NewsletterForm from './NewsletterForm.astro'
---

<section>
  <div>
    <h2>{m.newsletter()}</h2>
    <p>{m.newsletter_description()}</p>
  </div>
  <NewsletterForm />
</section>
