---
import type { HTMLTag, Polymorphic } from 'astro/types'

import { m } from '@/i18n/messages'
import { localizeHref } from '@/i18n/runtime'

import type { Post } from '@/schemas'

export type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & Post

const { title, description, slug, as: Heading = 'h3' } = Astro.props
---

<article>
  <Heading>{title}</Heading>
  <p>{description}</p>
  <a href={localizeHref(`/posts/${slug}`)}>
    <span class='sr-only'>
      {m.read_more_about({ title })}
    </span>
    {m.read_more()}
  </a>
</article>
