---
import type { MarkdownHeading } from 'astro'
import type { HTMLTag, Polymorphic } from 'astro/types'

import TableOfContent from './TableOfContent.astro'

export type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  toc?: MarkdownHeading[]
}

const { as: Component = 'div', toc = [], id, ...rest } = Astro.props
---

{
  toc.length ? (
    <Component
      id={id}
      {...rest}>
      <div class='relative flex flex-row-reverse items-start gap-4'>
        {toc.length && <TableOfContent headings={toc} />}
        <div class='flex-1'>
          <div class='prose dark:prose-invert mx-auto'>
            <slot />
          </div>
        </div>
      </div>
    </Component>
  ) : (
    <Component
      id={id}
      class='prose dark:prose-invert mx-auto'
      {...rest}>
      <div>
        <slot />
      </div>
    </Component>
  )
}
