---
import type { MarkdownHeading } from 'astro'

type NestedHeading = MarkdownHeading & {
  children: NestedHeading[]
}

export type Props = {
  item: NestedHeading
}

const { item } = Astro.props

const Self = Astro.self
---

<li>
  <a href={`#${item.slug}`}>{item.text}</a>
  {
    item.children.length > 0 && (
      <ol>
        {item.children.map((child) => (
          <Self item={child} />
        ))}
      </ol>
    )
  }
</li>
