---
import { m } from '@/i18n/messages'

import Layout from '@/layouts/Layout.astro'

const metadata = {
  title: m.not_found(),
  description: m.not_found_description(),
}
---

<Layout metadata={metadata}>
  <div id='main-content'>
    <h1>{metadata.title}</h1>
    <p>{metadata.description}</p>
  </div>
</Layout>
