---
import { getCollection, getEntry } from 'astro:content'

import { getLocale, locales, localizeHref } from '@/i18n/runtime'

import PostCard from '@/components/PostCard.astro'
import Layout from '@/layouts/Layout.astro'

const currentLocale = getLocale()

const postPage = await getEntry('pages', `posts-${currentLocale}`)

if (postPage === undefined || postPage.data.locale !== currentLocale)
  return Astro.rewrite('/404')

const posts = await getCollection(
  'posts',
  ({ data }) => data.locale === currentLocale,
)

const metadata = {
  title: postPage.data.title,
  description: postPage.data.description,
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('posts', { locale }),
  })),
}
---

<Layout metadata={metadata}>
  <main id='main-content'>
    <div>
      <h1>{metadata.title}</h1>
      <p>{postPage.data.description}</p>
    </div>
    {
      posts.map((post) => (
        <PostCard
          as='h2'
          {...post.data}
        />
      ))
    }
  </main>
</Layout>
