---
import { m } from '@/i18n/messages'
import Layout from '@/layouts/Layout.astro'

const metadata = {
  title: m.terms_and_conditions(),
  description: 'Terms and conditions for our usersApi',
}
---

<Layout metadata={metadata}>
  <div
    class='flex flex-1 items-center justify-center'
    id='main-content'>
    <h1 class='text-2xl'>
      {m.terms_and_conditions()}
    </h1>
  </div>
</Layout>
