---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Body from '@/layouts/partials/Body.astro'
import Document from '@/layouts/partials/Document.astro'
import Head, { type Props as HeadProps } from '@/layouts/partials/Head.astro'
import Html from '@/layouts/partials/Html.astro'

export interface Props {
  metadata: HeadProps
}

const { metadata } = Astro.props
---

<Document>
  <Html>
    <Head {...metadata} />
    <Body>
      <a
        class='sr-only'
        href='#main-content'>
        Skip to main content
      </a>
      <Header />
      <slot />
      <Footer />
    </Body>
  </Html>
</Document>
