---
import { m } from '@/i18n/messages'
import { getLocale, localizeHref } from '@/i18n/runtime'

import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

import Body from '@/layouts/partials/Body.astro'
import Document from '@/layouts/partials/Document.astro'
import Head, { type Props as HeadProps } from '@/layouts/partials/Head.astro'
import Html from '@/layouts/partials/Html.astro'

export interface Props {
  metadata: HeadProps
}

const { metadata } = Astro.props

const currentLocale = getLocale()

const isHome = Astro.url.pathname === '/'
---

<Document>
  <Html>
    <Head {...metadata} />
    <Body>
      <a
        class='sr-only'
        href='#main-content'>
        {m.skip_to_main_content()}
      </a>
      {
        !isHome && (
          <a
            class='sr-only'
            href={localizeHref('/', { locale: currentLocale })}>
            {m.go_to_homepage()}
          </a>
        )
      }
      <Header availableLanguages={metadata.alternates} />
      <slot transition:animate='fade' />
      <Footer />
    </Body>
  </Html>
</Document>
