---
import AccessibilityShortcuts from '@/components/AccessibilityShortcuts.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

import Body from '@/layouts/partials/Body.astro'
import Document from '@/layouts/partials/Document.astro'
import Head, { type Props as HeadProps } from '@/layouts/partials/Head.astro'
import Html from '@/layouts/partials/Html.astro'

export interface Props {
  metadata: HeadProps
  showHeader?: boolean
  showFooter?: boolean
}

const { metadata, showHeader = true, showFooter = true } = Astro.props
---

<Document>
  <Html>
    <Head {...metadata} />
    <Body>
      <AccessibilityShortcuts />
      {showHeader && <Header availableLanguages={metadata.alternates} />}
      <slot transition:animate='fade' />
      {showFooter && <Footer />}
    </Body>
  </Html>
</Document>
